node_modules
vendor
.git
.github
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
public/storage
public/build
public/uploads
csdl
document
.env
.phpunit.result.cache
test_out.txt
docker-compose.yml
Dockerfile
.dockerignore
*.sql
*.zip
*.rar
